# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Environment
.env

# IDE
.vscode/
.idea/

# OS
*.log
*.log.*
*.log.*.*
log/

##### Local Items #####
# Project specific
backup/
backups/
config/sync2nas_config.ini
database/
incoming/
sql/
ssh/
anime_tv_path/
incoming/
ssh_test/
tests/config/sync2nas_config_test.ini
testing/
testing/*
testing/anime_tv
testing/incoming

# Debugging
debugging/
debugging/*
debug/
debug/*

# Future Work
next_step.py

# VSCode Counter
.VSCodeCounter/

# Packaging code
cleanup_and_zip.py
Sync2NAS.zip