[Database]
# Type of database to use: sqlite, postgres, or milvus
type = sqlite

[SQLite]
db_file = ./database/sync2nas.db

[PostgreSQL]
host = localhost
port = 5432
database = sync2nas
user = postgres
password = your_password

[Milvus]
host = localhost
port = 19530

[SFTP]
host = your.sftpserver.com
port = 22
username = whatsyourname
ssh_key_path = ./ssh/your_sftpserver_rsa
path = /path/to/remote/files/, /path/to/remote/files2/

[Transfers]
incoming = ./incoming

[TMDB]
api_key = your_tmdb_api_key

[Routing]
anime_tv_path = d:/anime_tv/

[llm]
service = ollama  # ollama or openai

[ollama]
model = llama3.2
llm_confidence_threshold = 0.7

[openai]
model = gpt-3.5-turbo
api_key = your_openai_api_key
max_tokens = 250
temperature = 0.1

[anthropic]
model = claude-3-5-sonnet-20240620
api_key = your_anthropic_api_key
max_tokens = 250
temperature = 0.1